@font-face {
  font-family: 'Montserrat VF';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Defines the weight range */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat VF';
  src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}
