* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, #0f172a 0%, #1e293b 50%, #0f172a 100%);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  overflow: hidden;
}

.navbar {
  background: rgba(15, 23, 42, 0.4);
  display: flex;
  position: fixed;
  width: 98%;
  height: 7%;
  border-radius: 2.5rem;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur (5px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);
  margin-right: 5px;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  outline: none;
  box-sizing: border-box;

  height: 80%;
}
.logo::before,
.logo::after {
  content: none;
  display: none;
  background: none;
  outline: none;
  background-color: transparent;
}

.dashboard-button {
  display: flex;
  text-decoration-line: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: auto;
  margin-left: 20px;
}

.console-button {
  display: flex;
  text-decoration-line: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: auto;
  margin-left: 20px;
}

.account-profile {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 80%;
  border-radius: 20rem;
  box-shadow: rgba(31, 38, 135, 0.2) 0 0 25px 5px;
}

.profile-picture {
  border-radius: 20rem;
}

.account-profile::before,
.account-profile::after {
  content: none;
  display: none;
  background: none;
  outline: none;
  background-color: rgba(31, 38, 135, 0.2);
}
