body {
  background: rgb(20, 20, 20);
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  position: absolute;
  width: 24rem;
  height: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  border-width: 1px;
  border-color: rgb(0, 170, 255);
  border-style: solid;
  box-shadow: 0 0 10px 2px rgb(0, 170, 255);
  backdrop-filter: blur(5px);
}

.logo {
  position: inherit;
  image-rendering: auto;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 17.5%;
}

.username-field,
.password-field {
  position: inherit;
  display: inherit;
  width: 20rem;
  height: 2.5rem;
  transform: inherit;
  top: 45%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20rem;
  border-color: rgb(0, 170, 255);
  border-style: solid;
  border-width: 1px;
  color: white;
  box-shadow: 0 0 10px 2px rgb(0, 170, 255);
  align-content: center;
}

.password-field {
  top: 60%;
}

.login-btn {
  position: inherit;
  display: inherit;
  width: 15rem;
  height: 3rem;
  top: 80%;
  left: inherit;
  transform: inherit;
  border-radius: 20rem;
  background-color: lime;
  color: white;
  font-family: 'Montserrat VF', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  border-color: rgb(0, 170, 0);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgb(0, 170, 0);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    width 0.2s ease-in-out height 0.2s ease-in-out;
}

.user-icon,
.pass-icon,
.pass-show {
  display: inherit;
  position: inherit;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 60%;
  left: 8.5%;
  filter: invert(100%);
}

.pass-show {
  opacity: 0;
  cursor: pointer;
}

.username-text,
.password-text {
  position: inherit;
  display: inherit;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  outline-width: 0;
  height: 60%;
  transform: translate(-100%, -50%);
  top: 50%;
  left: 95%;
  width: 77.5%;
  border: none;
}

.login-btn:hover {
  width: 16.5rem;
  height: 3.5rem;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.username-text:focus > .username-field {
  border-color: rgb(255,0,255);
}