body {
    background: rgb(20,20,20);
}

.logo {
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10rem;
    height: 10rem;
}

.redirect-text {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 48px;
    font-family: 'Montserrat VF', sans-serif;
    color: white;
}