body {
  background: linear-gradient(
    90deg,
    rgba(0, 85, 170, 1) 0%,
    rgba(170, 0, 170, 1) 100%
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  position: absolute;
  width: 24rem;
  height: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  backdrop-filter: blur(5px);
}

.logo {
  position: inherit;
  image-rendering: auto;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
}

.username-field {
  position: inherit;
  display: inherit;
  width: 20rem;
  height: 2rem;
  transform: inherit;
  top: 40%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20rem;
  border-width: 2px;
  border-color: white;
  color: white;
  
}

.password-field {
  display: inherit;
  position: inherit;
  width: 20rem;
  height: 2rem;
  top: 55%;
  left: inherit;
  transform: inherit;
}

.login-btn {
  position: inherit;
  display: inherit;
  width: 15rem;
  height: 3rem;
  top: 70%;
  left: inherit;
  transform: inherit;
  border-radius: 20rem;
  background-color: lime;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  border-color: rgba(0, 170, 0, 1);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.request-btn {
  position: inherit;
  display: inherit;
  width: 15rem;
  height: 3rem;
  top: 85%;
  left: inherit;
  transform: inherit;
  border-radius: 20rem;
  background-color: rgba(0, 0, 0, 0);
  color: lime;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  border-color: lime;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
