body {
  background: linear-gradient(
    90deg,
    rgba(0, 85, 170, 1) 0%,
    rgba(170, 0, 170, 1) 100%
  );
}

.container {
  display: flex;
  position: absolute;
  width: 24rem;
  height: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.logo {
  position: inherit;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
}

.username-text {
  position: inherit;
  display: inherit;
  width: 20rem;
  height: 2rem;
  transform: inherit;
  top: 50%;
  left: 50%;
}

.request-btn {
  position: inherit;
  display: inherit;
  width: 15rem;
  height: 3rem;
  top: 80%;
  left: inherit;
  transform: inherit;
  border-radius: 20rem;
  background-color: lime;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  border-color: rgba(0, 170, 0, 1);
  border-style: solid;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}